<a href="https://colab.research.google.com/github/kibuba-njihia/the-snake/blob/main/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# **Enumerate Function**
This is used in giving consecutive values to your iterables

In [ ]:
for i,j in enumerate(['a','b','c']):
  print(i,j)
  print(type(j))


for i in enumerate([40,45,50]):
  print(i)
  print(type(i))

0 a
<class 'str'>
1 b
<class 'str'>
2 c
<class 'str'>
(0, 40)
<class 'tuple'>
(1, 45)
<class 'tuple'>
(2, 50)
<class 'tuple'>

In [ ]:


fahrenheit_a = np.array([-40,  14, 32, 46, 59, 72, 100],  dtype=float)
print(fahrenheit_a[-1])

100.0

# **Pandas**

In [ ]:
#Creating a series - sort of a column in a table
data = ['a','b',' c']

my_series = pd.Series(data)
print(my_series)
print(type(my_series))
print(my_series[0])

0     a
1     b
2     c
dtype: object
<class 'pandas.core.series.Series'>
a

In [ ]:
#Creating your own labels - alternatives for the default 0,1,2,....
#Done using the index ftn
data = ['a','b',' c']

my_series = pd.Series(data,index = ['first','second','third'])
print(my_series)
print(type(my_series))
print(my_series['first'])

first      a
second     b
third      c
dtype: object
<class 'pandas.core.series.Series'>
a

From series, we now move on to the real stuff: Dataframes

In [ ]:
#Loading Dataframes
data = [['Trevor',27],['Julie',26],['Sijui',1]]
df = pd.DataFrame(data ,columns=['Name','Age'])
print(df)
print(type(df))

     Name  Age
0  Trevor   27
1   Julie   26
2   Sijui    1
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Locating specific rows
print(df.loc[[0,2]])

     Name  Age
0  Trevor   27
2   Sijui    1

**Cleaning empy/null cells**

In [ ]:
# prompt: create a dataframe with 2 columns and 10 rows

import pandas as pd
import numpy as np

# Create a DataFrame with 2 columns and 10 rows
data = {'col1': np.random.rand(10), 'col2': np.random.randint(0, 100, 10)}
df = pd.DataFrame(data)

df

       col1  col2
0  0.898892    39
1  0.923878    24
2  0.353696    23
3  0.541507    64
4  0.927915    43
5  0.783872    23
6  0.386189    16
7  0.347695    42
8  0.451406    16
9  0.309903    36

In [ ]:
# prompt: randomly select 5 items from a list

import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random_items = random.sample(my_list, 5)
random_items

**Pop**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:


df = pd.DataFrame([('falcon', 'bird', 389.0),
                    ('parrot', 'bird', 24.0),
                    ('lion', 'mammal', 80.5),
                    ('monkey', 'mammal', np.nan)],
                   columns=('name', 'class', 'max_speed'))
df

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

In [ ]:
popped_df = df.pop('class')

In [ ]:
popped_df

0      bird
1      bird
2    mammal
3    mammal
Name: class, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    10 non-null     float64
 1   col2    10 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 288.0 bytes

In [ ]:
# will get back in the evening

In [ ]:
# consistency is key but we shall overcome

In [ ]:
# Let's do this again on valentines

In [ ]:
# movmoved to muthiga today

In [ ]:
# how do I become more conconsistent

# because now this is a joke

In [ ]:
# a big joke

#np.where() function
This is used to check whether values of an array meet a certain condition.

Syntax: np.where(condition,x,y)

Condition: A boolean expression/condition that returns true or false.

x: Value(s) where the condition is True.

y: Value(s) where the condition is False.

In [ ]:
arr = np.array([-3, 5, -1, 7, 0])
result = np.where(arr < 0, 0, arr)
print(result)

[0 5 0 7 0]

In [ ]:
arr = np.array([-3, -2, 0, 4, 5])
indices = np.where(arr > 0)

print(indices)
print(arr[indices])

(array([3, 4]),)
[4 5]

In [ ]:
# had a good rest this weekend

In [ ]:
# we try again this week

In [ ]:
# almost skipped today

##**String manipulation**

In [ ]:
text = "python is awesome!"
print(text.title())

Python Is Awesome!

In [ ]:
text = " Too many spaces... "
print(len(text))
stripped = text.strip()
print(len(stripped))
# print(text.strip())

20
18

In [ ]:
text = "Hello World"
print(text.replace("o", "0"))

Hell0 W0rld

# Practice Tests

## Concatenating arrays
Write a function that accepts an array of 10 integers (between 0 and 9), that returns a string of those numbers in the form of a phone number.

Example
create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]) # => returns "(123) 456-7890"

###Solution 1

In [ ]:
from typing_extensions import Concatenate
def create_phone_number(n):
  a = [str(num) for num in n]
  phone_number = "".join(a)
  # return(phone_number)
  return f"({phone_number[:3]}) {phone_number[3:6]}-{phone_number[6:]}"

In [ ]:
create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

'(123) 456-7890'

### Solution 2

In [ ]:
def create_phone_number(n):
    m = ''.join(map(str, n)) # map() # is used to apply a given function to every item of an iterable, such as a list or tuple, and returns a map object (which is an iterator).
    return f"({m[:3]}) {m[3:6]}-{m[6:]}"

In [ ]:
create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

'(123) 456-7890'

## Ordering Numbers

Create a function that returns the sum of the two lowest positive numbers given an array of minimum 4 positive integers. No floats or non-positive integers will be passed.

For example, when an array is passed like [19, 5, 42, 2, 77], the output should be 7.

[10, 343445353, 3453445, 3453545353453] should return 3453455.

In [ ]:
def sum_two_smallest_numbers(numbers):
   a = sorted(numbers)
   return a[0]+a[1]
   # return sum(sorted(numbers)[:2]) # Option 2

In [ ]:
sum_two_smallest_numbers([19, 5, 42, 2, 77])

7

## Removing Duplicates

Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

Example
"abcde" -> 0 # no characters repeats more than once

"aabbcde" -> 2 # 'a' and 'b'

"aabBcde" -> 2 # 'a' occurs twice and 'b' twice ('b' and 'B')

"indivisibility" -> 1 # 'i' occurs six times

"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice

"aA11" -> 2 # 'a' and '1'

"ABBA" -> 2 # 'A' and 'B' each occur twice

In [13]:
abc=[]
efg=[]
def duplicate_count(text):
  for a in text:
    if a not in abc:
      abc.append(a)
    else:
      efg.append(a)
  # return abc
  return efg

In [14]:
duplicate_count("aaBbcde")

['a']